* {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.rbc-row-content {
  height: 100%;
}

.rbc-row-content > .rbc-row {
  height: 100%;
}

.rbc-row-content > .rbc-row > .rbc-date-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.rbc-row-content > .rbc-row > .rbc-date-cell > a {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rbc-month-view,
.rbc-month-row,
.rbc-row-bg,
.rbc-row-bg > .rbc-day-bg,
.rbc-header,
.rbc-header {
  border: none !important;
}

.rbc-off-range-bg,
.rbc-today {
  background-color: transparent;
}

.customDate {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 100px;
}

.customDate * {
  cursor: pointer;
}

.customDate.conTurnos {
  background-color: white;
  border: 2px solid #149257;
}

.customDate.conTurnos label {
  color: #149257;
}

.customDate.hoy {
  background-color: white;
}
.customDate.hoy label {
  color: #149257;
}

.customDate.seleccionado {
  background-color: #149257;
}

.customDate.seleccionado label {
  color: white;
}

.customDate.deshabilitado {
  opacity: 0.2;
}

.customDate:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.customDate:hover label {
  color: black;
}

.calendarioMes_encabezado {
  display: flex;
  align-items: center;
  padding-left: 8px;
  background-color: rgba(0, 0, 0, 0.025);
  margin-bottom: 16px;
  padding: 8px;
  padding-left: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.calendarioMes_encabezado > .titulo {
  flex: 1;
}

.rbc-day-slot .rbc-events-container {
  margin-right: 0px;
}

.rbc-day-slot.rbc-time-column {
  border: none;
}
/* .panelTurnos {
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: translateY(100px);
  pointer-events: none;
  transition: all 0.3s;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  margin-left: 16px;
  background-color: white;
} */

.rbc-time-view {
  border: none;
}

.rbc-event {
  /* max-width: 400px; */
  /* margin-left: 16px; */
  transition: all 0.3s;
}

.rbc-timeslot-group,
.rbc-events-container {
  border: none !important;
}

.rbc-time-column {
  background-color: rgba(0, 0, 0, 0.005);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.rbc-time-slot {
  padding-left: 16px;
  padding-right: 16px;
  opacity: 0.7;
  font-size: 12px;
  text-align: right;
}

.rbc-day-slot .rbc-time-slot {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.rbc-time-header {
  display: none;
}

.rbc-time-content {
  border: none;
  /* padding-top: 32px; */
}

.rbc-event {
}

.rbc-event:hover {
  opacity: 0.8;
}

.contenedorCalendarioMes {
  /* padding: 64px; */
}

.contenedorCalendarioMes > .contenedorCalendarioMesContent {
  background-color: white;
  border-radius: 16px;
  height: 400px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.contenedorCalendarioMes > .contenedorInfo {
  display: flex;
  padding: 16px;
}

.contenedorCalendarioMes > .contenedorInfo > span {
  margin-right: 8px;
}

.calendarioMes {
  background-color: white;
}

.contenedorCalendarioDia {
  height: 100%;
}

.contenedorCalendarioDia > div {
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.colColendarioDia {
  max-height: calc(100vh - 64px);
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.3s;
}

.colColendarioDia.visible {
  opacity: 1;
  transform: translateY(0);
}

.contenedorCalendarioDia > div > .encabezado {
  display: flex;
  align-items: center;
  padding-left: 8px;
  background-color: rgba(0, 0, 0, 0.025);
  /* margin-bottom: 16px; */
  padding: 8px;
  padding-left: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.contenedorCalendarioDia > div > .encabezado h1 {
  flex: 1;
}

.calendarioDia {
}

.contenedor > div {
  max-width: 70rem;
}

.contenedorSinEventos {
  padding: 16px;
  background-color: #ffb74d;
}

@media screen and (max-width: 960px) {
  .contenedor {
    overflow: auto;
  }
  .colColendarioDia {
    max-height: inherit;
    padding-top: 0 !important;
  }

  .rbc-time-content {
    overflow: hidden;
  }
}

.dialogo_info {
  display: flex;
  align-items: baseline;
}
.dialogo_info > aside {
  margin-right: 8px;
}
